mixin list(capsuleList)
  table.table
    thead
      tr
        th="ID"
        th="フルネーム"
        th="略名"
        th="第X段"
    tbody
      for capsule in capsuleList
        tr
          th(scope="row")=capsule.id
          td=capsule.fullName
          td=capsule.shortName
          td=capsule.stage
