mixin list(fusionList)
  table.table
    thead
      tr
        th="融合の相手"
        th="略名"
        th="決めゼリフ"
    tbody
      for fusion in fusionList
        tr
          td(scope="row"): a(href="/detail/#{fusion.iCapsuleId}")=fusion.iCapsuleName
          td=fusion.fusionName
          td=fusion.fusionPhrase
