extends layout
block title
  title= title
block content
  div.jumbotron
    h1 #{title}
    p カプセルを#[strong 超人]と#[strong 怪獣]に分けて表示します。

  div.container-fluid
    div.row.flex-items-xs-center
      div.col-md-6.col-xs-12
        ul.nav.nav-pills
          li.nav-item: a.nav-link.active(data-toggle="tab" href="#ultra" role="tab") 超人
          li.nav-item: a.nav-link(data-toggle="tab" href="#monster" role="tab") 怪獣
        div.tab-content
          div#ultra.tab-pane.active(role="tabpanel")
            table.table
              thead
                tr
                  th="#"
                  th="First Name"
                  th="Last Name"
                  th="Username"
              tbody
                tr
                  th(scope="row"): 1
                  td: ウルトラマン
                  td: オーブ
                  td: ジード
                tr
                  th(scope="row"): 2
                  td: Jacob
                  td: Thornton
                  td: @fat
          div#monster.tab-pane(role="tabpanel")
            table.table
              thead
                tr
                  th="#"
                  th="First Name"
                  th="Last Name"
                  th="Username"
              tbody
                tr
                  th(scope="row"): 1
                  td: ゴモラ
                  td: バルタン星人
                  td: ゼットン
                tr
                  th(scope="row"): 2
                  td: Jacob
                  td: Thornton
                  td: @fat