extends layout
block title
  title= title
block content
  div.jumbotron
    h1 #{title}
    p カプセルを#[strong 超人]と#[strong 怪獣]に分けて表示します。

  div.container-fluid
    div.row.flex-items-xs-center
      div.col-md-6.col-xs-12
        ul.nav.nav-pills
          li.nav-item: a.nav-link.active(data-toggle="tab" href="#ultra" role="tab") 超人
          li.nav-item: a.nav-link(data-toggle="tab" href="#monster" role="tab") 怪獣
        div.tab-content
          div#ultra.tab-pane.active(role="tabpanel")
            table.table
              thead
                tr
                  th="ID"
                  th="フルネーム"
                  th="略名"
                  th="第X段"
              tbody
                for ultra in ultraList
                  tr
                    th(scope="row")=ultra.id
                    td=ultra.fullName
                    td=ultra.shortName
                    td=ultra.stage
          div#monster.tab-pane(role="tabpanel")
            table.table
              thead
                tr
                  th="ID"
                  th="フルネーム"
                  th="略名"
                  th="第X段"
              tbody
                for monster in monsterList
                  tr
                    th(scope="row")=monster.id
                    td=monster.fullName
                    td=monster.shortName
                    td=monster.stage